@import "../styles/breakpoints";

.root {
  z-index: 999;
  position: fixed;
  display: grid;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  height: 80px;
  background-color: white;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);

  .logo {
    position: absolute;
    top: 0px;
    left: calc(100% / 2 - 120px / 2);
    width: 104px;
    height: 120px;
    background: white url("../images/logo.svg") center 16px no-repeat;
    background-size: 80%;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    text-indent: -99999px;

    @include breakpoint(sm) {
      width: 120px;
      height: 141px;
    }

    &:hover {
      box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
    }
  }

  // a,
  // a:visited {
  //   padding: 2px 3px;
  //   margin: 0 2px;
  //   text-decoration: none;
  //   color: black;

  //   &:hover {
  //     color: darkgrey;
  //     // text-decoration: underline;
  //   }

  //   &.is-active {
  //     background-color: grey;
  //     color: white;
  //   }
  // }

  // .nav-bar {
  //   display: flex;
  // }

  .contact-content {
    font-size: 80%;
    display: none;

    @include breakpoint(sm) {
      display: block;
    }

    p {
      margin: 0;
    }
  }
}
